#firstpage {
  position: absolute;
  width: 1440px;
  height: 1024px;
  left: 0px;
  top: 0px;
  background-color: #04066d;
}
h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #63eb14;
}
#home {
  position: absolute;
  width: 65px;
  height: 28px;
  left: 85px;
  top: 68px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #63eb14;
}

#tips {
  position: absolute;
  width: 47px;
  height: 28px;
  left: 193px;
  top: 68px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #63eb14;
}

#symptoms {
  position: absolute;
  width: 116px;
  height: 28px;
  left: 283px;
  top: 68px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #63eb14;
}

#faqs {
  position: absolute;
  width: 56px;
  height: 28px;
  left: 442px;
  top: 68px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #63eb14;
}

#youtube {
  position: absolute;
  width: 95px;
  height: 28px;
  left: 541px;
  top: 68px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #63eb14;
}

#confused {
  position: absolute;
  width: 1195px;
  height: 118px;
  left: 85px;
  top: 248px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 59px;

  color: #e8afce;
}

#worry {
  position: absolute;
  width: 943px;
  height: 234px;
  left: 85px;
  top: 395px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 117px;

  color: #ffffff;
}

#corona {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 700px;
  top: 512px;
}

#tips1 {
  position: absolute;
  width: 113px;
  height: 66px;
  left: 664px;
  top: 1053px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 66px;
  /* identical to box height */

  text-align: center;

  color: #4c0027;
}

#mask{
  position: absolute;
width: 346px;
height: 346px;
left: 129px;
top: 1208px;

}
#masktext {
  position: absolute;
width: 600px;
height: 66px;
left: 600px;
top: 1250px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 54px;
line-height: 66px;
/* identical to box height */


color: #000000;

}
#hands{position: absolute;
  width: 342px;
  height: 342px;
  left: 820px;
  top: 1652px;}

  #handstext{
    position: absolute;
width: 400px;
height: 66px;
left: 160px;
top: 1785px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 54px;
line-height: 66px;
/* identical to box height */


color: #000000;
  }

#fourthpage{
  position: absolute;
width: 1440px;
height: 721px;
left: 0px;
top: 2121px;

background: #E8AFCE;
}

#symptoms1{
  position: absolute;
width: 300px;
height: 66px;
left: 570px;
top: 2125px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 54px;
line-height: 66px;
/* identical to box height */


color: #4C0027;
}
table {
  position: absolute;
width: 951px;
height: 454px;
left: 200px;
top: 2282px;

background: #FFFFFF;
border: 8px solid #750550;
box-sizing: border-box;
font-size: 24px;
}
table td{
  border: 8px solid #750550;
}
table th{
  border: 8px solid #750550;
}
#faqs1 {
  position: absolute;
width: 146px;
height: 66px;
left: 600px;
top: 2956px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 54px;
line-height: 66px;
/* identical to box height */

text-align: center;

color: #4C0027;

}

#what {
  position: absolute;
width: 203px;
height: 28px;
left: 100px;
top: 3161px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #000000;

}
#should {
  position: absolute;
width: 688px;
height: 28px;
left: 100px;
top: 3399px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #000000;

}
#complications
{
  position: absolute;
width: 745px;
height: 28px;
left: 100px;
top: 3637px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #000000;

}

#para1 {
  position: absolute;
width: 1129px;
height: 105px;
left: 100px;
top: 3202px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 23px;
line-height: 21px;

color: #000000;

}
#para2 {
  position: absolute;
width: 1129px;
height: 63px;
left: 100px;
top: 3451px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 23px;
line-height: 21px;

color: #000000;

}

#para3 {
  position: absolute;
width: 1129px;
height: 42px;
left: 100px;
top: 3698px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 23px;
line-height: 21px;

color: #000000;

}

#youtube1 {
  position: absolute;
width: 240px;
height: 66px;
left: 500px;
top: 3894px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 54px;
line-height: 66px;
/* identical to box height */

text-align: center;

color: #4C0027;

}
#youtube2 {
  position: absolute;
width: 759px;
height: 444.93px;
left: 230px;
top: 4017px;
}

#info {
  position: absolute;
width: 1440px;
height: 219px;
left: 0px;
top: 4641px;

background: #4C0027;
}

#info1 {
  position: absolute;
  width: 500px;
  height: 42px;
  left: 350px;
  top: 4675px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  
  color: #d3e1e8;
  
}
body {
  max-width: 100%;
  overflow-x: hidden;
}